nav .active{
    text-decoration: underline;
}

nav {
    height: 10%;
    box-sizing: border-box;
    background: white;
    border-bottom: 2px solid lightgray;
}
nav .brand-logo, nav ul a {
    color: gray;
}
nav #nav-image {
    padding-left: 10px;
}
nav #nav-image:hover {
    text-decoration: none;
}
.nav-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.homepage-filter-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 7%;
    background: whitesmoke;
    border: 2px solid lightgray;
    border-top: none;
}
.homepage-welcome {
    width: 15%;
    text-align: center;
}
.datepicker {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
#datepicker {
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    margin: .5vw;
}